@import "tailwindcss";


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
   font-family: var(--font-roboto), sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-poppins), sans-serif;
}

.special-text {
  font-family: var(--font-play), serif;
}


#__next, #root {
  height: 100%;
}