.card {
  border-radius: .7rem; 
  padding: 1rem; 
  flex: 1;
  min-width: 130px;
  background-color: #F7FFF7;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 

  /* alternate background colors for odd/even cards */
}
.card:nth-child(odd) {
  background-color: #F7FFF7; 
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.topRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.badge {
  font-size: 10px;
  background-color: #343434;
  padding: 0.25rem 0.5rem;
  color: #f9fcfa; 
  font-weight: 500;
}

.moreIcon {
  color: #5f6061; 
  cursor: pointer;
}

.value {
  font-size: 1.5rem; 
  font-weight: 600;
  margin: 1rem 0;
}

.type {
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 500;
  color: #6b7280; /* gray-500 */
}